<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/aop
                http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- Add annotation configuration -->
    <context:annotation-config></context:annotation-config>


    <context:component-scan base-package="com.tornaq.logging">
        <!--<context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect"/>-->
    </context:component-scan>


    <!-- Destroy method not run on prototype scope beans -->

<!--    <bean id="person" class="com.tornaq.person.Person" scope="prototype" init-method="onCreate" destroy-method="onDestroy"
            factory-method="getInstance">
        <constructor-arg index="0" name="id" type="int" value="1"></constructor-arg>
        <constructor-arg index="1" name="name" type="String" value="Mr. Smith"></constructor-arg>
        <property name="taxId" value="87654321">
        </property>
        <property name="address" ref="default_address"></property>
    </bean>

    <bean id="factoryperson" class="com.tornaq.person.Person" scope="prototype" init-method="onCreate" destroy-method="onDestroy"
          factory-bean="personfactory" factory-method="createPerson">
        <constructor-arg index="0" name="id" type="int" value="1"></constructor-arg>
        <constructor-arg index="1" name="name" type="String" value="Mr. Smith"></constructor-arg>
        <property name="taxId" value="87654321">s
        </property>
        <property name="address" ref="default_address"></property>
    </bean>

    <bean id="personfactory" class="com.tornaq.person.PersonFactory" scope="singleton"/>

    <bean id="default_address" class="com.tornaq.person.Address" scope="singleton">
        <constructor-arg index="0" name="street" type="String" value="1 Main st."></constructor-arg>
        <constructor-arg index="1" name="postalCode" type="String" value="852963"></constructor-arg>
        <constructor-arg index="2" name="country" type="String" value="US"></constructor-arg>
    </bean>

    <bean id="property_address" class="com.tornaq.person.Address" scope="singleton"
          p:street="100 Other st." p:postalCode="555666" p:country="Italy">
    </bean>

    <bean id="constructor_address" class="com.tornaq.person.Address" scope="singleton"
          c:street="2020 Ranblla st." c:postalCode="222111" c:country="Spain">
    </bean>
-->
<!--
    <bean id="logger" class="com.tornaq.logging.Logger" ></bean>


    <bean id="fileWriter" class="com.tornaq.logging.FileWriter" ></bean>

    <bean id="fileWriterNew" class="com.tornaq.logging.FileWriter"></bean>


    <bean id="consoleWriter" class="com.tornaq.logging.ConsoleWriter"></bean>

    <bean id="consoleWriterAlternative" class="com.tornaq.logging.ConsoleWriter"></bean>
-->

    <!-- Enable AspectJ style of Spring AOP -->
    <!--
    <aop:aspectj-autoproxy />
    -->

    <!-- Spring AOP XML Configuration -->
    <!--
    <aop:config>
        <aop:aspect ref="employeeXMLConfigAspect" id="employeeXMLConfigAspectID" order="1">
            <aop:pointcut expression="execution(* com.journaldev.spring.model.Employee.getName())" id="getNamePointcut"/>
            <aop:around method="employeeAroundAdvice" pointcut-ref="getNamePointcut" arg-names="proceedingJoinPoint"/>
        </aop:aspect>
    </aop:config>
    -->

</beans>
